doctype html
html(⚡)
  head
    include ../partials/head/meta
    include ../partials/head/link
    include ../partials/head/amp
  body
    include ../partials/navigation
    +navigation("lower-silesia")

    div.content
      amp-img(src="/assets/images/agata.svg" width="128" height="128")
      p AGATA: All the people who lived here left a piece of their soul: in the homes they had built, in the trees they had planted, the churches where they prayed… And their secrets, many of them still unrevealed.

      amp-img(src="/assets/images/marcin.svg" width="128" height="128")
      p MARCIN: Lower Silesia is the name of the region. In the past it was a part of different states: Poland, the Czech Kingdom, the Austrian Empire, Prussia (converted in 19th century into Germany) and what is a bit surprising. . . Lower Silesia was also a part of the Hungarian Kingdom in 15th century. All of them left here a trace of their culture and now our region is like a melting pot in which you can find heritage of different nations.
      
      amp-img(src="/assets/images/agata.svg" width="128" height="128")
      p AGATA: Wrocław is just a good place to be. It’s safe, friendly and bustling with life. You can enjoy this city in many different ways: the spectacular monuments and the funny dwarves, the buskers in the Market Square and the stars of classical music in our new, stunning Forum of Music. There is always something going on: with 36 music festivals and numerous other festivals, like: film, art, street food, culture… you just can’t be bored! Wrocław is perfect for romantic strolls in beautiful places, for crazy clubbing, for fun with kids (we have a marvellous ZOO, sweets manufactures and modern science museums), for shopping and… last but not least, the food is fabulous!

      amp-img(src="/assets/images/marcin.svg" width="128" height="128")
      p MARCIN: The capital of our region is the beautiful city of Wrocław. In Wrocław you may see one of the treasures from the UNESCO cultural heritage list - Centennial Hall, a masterpiece of modernism. Wrocław is also proud of its many historic churches, a beautiful Market Square, the University founded in 1702, the unique Panorama Racławicka and innumerable monuments and places of interest. Wrocław, like Venice, has more than 100 bridges as it lies on the banks of 5 rivers. Add to it vast parks and gardens, and you can imagine why we call it a city of water, plants and monuments. The most amazing place in our city is the oldest part - the Cathedral Island, with its more than 1000 years of history.

      amp-img(src="/assets/images/agata.svg" width="128" height="128")
      p AGATA: The shortest way to describe Lower Silesia: we have everything but the sea! ;-) One of the most remarkable areas is the Barycz River Valley, a real paradise, both for nature and history lovers. You can admire here the biggest nature reserve in Poland, i.e. Milicz Ponds, considered one of the most precious ecosystems in the world. The mosaic of water, meadows and forests, the abundance of wildlife, will leave you simply breathless! A little bit out of the way, there is another marvel of our area: Lubiąż Abbey. Established in 1175, the biggest Cistercian abbey in the world, is currently rated in the highest class ("0") of landmarks of the world's cultural heritage.

      amp-img(src="/assets/images/marcin.svg" width="128" height="128")
      p MARCIN: One of the most picturesque  parts of Lower Silesia are the Sudety mountains with beautiful waterfalls, many hiking paths and viewpoints. In the region there are famous spas like Cieplice, Lądek Zdrój, Duszniki Zdrój. We also have many outstanding monuments like Peace Churches (from UNESCO list of cultural heritage), wooden churches like Wang built in 12th century. The region is also famous for its castles and palaces and there are some remnants of Nazi's hidden factories and underground headquarters inside the mountains. I am sure you will find your visit to this region fascinating. And I will be happy to guide you through it, as a certified guide for this region.

      div
        amp-img(src="/assets/images/agata.svg" width="128" height="128")
        amp-img(src="/assets/images/marcin.svg" width="128" height="128")
      
      p AGATA & MARCIN: We could tell you a lot more, but better yet - come and see for yourself.  And we will be happy to guide you! :-)

