meta(charset="utf-8")
meta(name="apple-mobile-web-app-title", content="SLower Silesia")
meta(name="application-name", content="SLower Silesia")
meta(name="msapplication-TileColor", content="#00796b")
meta(
  name="msapplication-config",
  content="/assets/manifest/browserconfig.xml?v=yyaMMPe9d4"
)
meta(name="theme-color", content="#ffffff")
meta(
  name="viewport"
  content="width=device-width,minimum-scale=1,initial-scale=1"
)