@import 'base';
@import 'constants';
@import 'navigation';

div.content {
  align-items: center;
  color: $color-accent;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 8rem auto;
  max-width: 700px;
}
